<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="result/result.css">

    <title>Result</title>
</head>

<body>
    <div id="main-c">
        <div id="section">
            <h2 class="r-heading y"><i class="fa-solid fa-square-poll-vertical"></i> Result</h2>
            <p class="r-info b"><i class="fa-solid fa-circle-check"></i> Correct Answer :<%=CorrectQue%></p>
            <p class="r-info r"><i class="fa-solid fa-circle-xmark"></i> Wrong Answer :<%=IncorrectQue%></p>
            <h4 class="r-heading y"><i class="fa-solid fa-star"></i> Score obtained</h4>
            <p class="r-heading y" id="scores"><%=Score%></p>
        </div>
        <a id="login" href="/LoginSignup"><i id="logout-i" class="fa-solid fa-right-from-bracket"></i> Logout</a>
    </div>
</body>

</html>